*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.container{
    border: solid black;
}

.webpage-container{
    width: 100%;
    height: 100%;
}

.etch-squares-container{
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.etch-square{
    border: solid black;
    border-width: 1px;
}